body {
  background-color: black;
  margin: 0;
  height: 100vh;
  font-family: fantasy;
  cursor: none;
  background-image: url('images/paint.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  border: 8px solid gray;
  border-radius: 50%;
  position: absolute;
  opacity: .5;
  top: -8px;
  left: -8px;
}

.expand {
  animation: cursorAnim3 .5s forwards;
  border: 1px solid red;
}

nav {
  display: flex;
  justify-content: space-between;
  min-height: 10vh;
  align-items: center;
  margin: auto;
  background-color: rgba(6, 7, 8, 0.5);
}

.nav-links {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.nav-links, h1 {
  flex: 1;
  color: white;
  padding: 25px;
}

.nav-links a {
  color: inherit;
  text-decoration: none;
}

img {
  width: -webkit-fill-available;
}

h2 {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.home-link a {
  text-decoration: none;
  color: white;
}

.logo-img {
  height: 50px;
  width: 50px;
}

p {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parentdiv {
  height: 100%;
  position: relative;
}

.mapgrid {
  width: 70%;
  height: 60%;
  margin: 10px auto;
}

.griditem {
  width: 33%;
  height: 33%;
  display: inline-table;
  margin-top: -5px;
}

.griditem:active {
  transform: translateY(4px);
}

.msgboard {
  margin: 10px auto;
  height: 15%;
}

.plane-start {
  animation: diagonal;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

#msg {
  color: white;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

#momo {
  height: 70px;
  width: 70px;
  margin: 10px auto;
  animation: rotate 5s linear forwards;
}

#fly {
  height: 50px;
  width: 50px;
  position: relative;
}

#chair {
  height: 100px;
  width: 100px;
  margin: 10px auto;
  display: block;
  animation: marquee 5s linear forwards;
}

#ship {
  height: 100px;
  width: 100px;
  margin: 10px auto;
  display: block;
  animation: sail 5s linear forwards;
  opacity: 0;
}

#noodles {
  height: 70px;
  width: 70px;
  display: block;
  margin: 10px auto;
}

#lantern {
  background-image: url('images/icons/lantern.png');
  background-repeat: repeat-x;
  background-position: center top;
  background-size: 30px 30px;
}

#mex {
  height: 70px;
  width: 70px;
  display: block;
  margin: 10px auto;
  animation: rotate 6s linear forwards;
}

#marg {
  height: 70px;
  width: 70px;
  margin: 10px auto;
  display: block;
  animation: sail 6s linear forwards;
}

#crowd {
  height: 70px;
  width: 70px;
  margin: 10px auto;
  display: block;
  animation: slideinout 6s linear forwards;
}

#coffee {
  height: 70px;
  width: 70px;
  margin: 10px auto;
  display: block;
  animation: slideinout 6s linear forwards;
  animation-delay: 4s;
  opacity: 0;
}

#theater {
  height: 70px;
  width: 70px;
  margin: 100px auto;
  display: block;
  animation: diagonal 6s linear forwards;
  animation-direction: reverse;
}

#gradhat {
  display: block;
  width: 100px;
  height: 100px;
  margin-top: -200px;
  margin-left: 75%;
  animation: fallingLeaves 6s linear forwards;
}

#viking {
  display: block;
  width: 200px;
  height: 100px;
  margin-top: 200px;
  animation: slideinout 6s linear forwards;
  animation-direction: reverse;
}

#fish {
  display: block;
  width: 100px;
  height: 100px;
  margin-top: -150px;
  animation: rotate 10s linear forwards;
}

#fish1 {
  display: block;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  animation-delay: 1s;
  animation: slideinout 6s linear forwards;
}

#fish2 {
  display: block;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  animation-delay: 2s;
  animation: slideinout 4s linear forwards;
  animation-direction: reverse;
}

#fish3 {
  display: block;
  width: 100px;
  height: 100px;
  margin-top: 50px;
  animation-delay: 3s;
  animation: slideinout 2s linear forwards;
}

#octopus {
  display: block;
  width: 100px;
  height: 100px;
  margin-bottom: : -200px;
  margin-left: 25%;
  animation: fallingLeaves 6s linear forwards;
  animation-direction: reverse;
}

#bat {
  display: block;
  width: 200px;
  height: 200px;
  margin-top: -150px;
  animation: swing 10s linear forwards;
}

#ball {
  display: block;
  width: 50px;
  height: 50px;
  margin-top: 150px;
  animation: rolling 6s linear forwards;
}

#med {
  display: block;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-left: 50%;
  animation: falling 3s linear forwards;
}

#hosp {
  display: block;
  width: 100px;
  height: 100px;
  margin-left: 20%;
  margin-bottom: -150px;
  animation: falling 6s linear forwards;
  animation-direction: reverse;
}

#book {
  display: block;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-left: 70%;
  animation: falling 5s linear forwards;
}

/*all keyframes are here*/
@keyframes fallingLeaves {
  0% {
    opacity: 1;
    transform: translate(0, 50px) rotateZ(0deg);
  }
  75% {
    opacity: 1;
    transform: translate(50px, 350px) rotateZ(270deg);
  }
  100% {
    opacity: 1;
    transform: translate(100px, 1000px) rotateZ(360deg);
  }
}

@keyframes slideinout {
  0% { transform: translatex(-500px); opacity: 1 }
  10% { transform: translatex(-100px) }
  30% { transform: translatex(0px) }
  50% { transform: translatex(10px) }
  70% { transform: translatex(100px) }
  90% { transform: translatex(500px) }
  100% { transform: translatex(1000px) }
}

@keyframes falling {
  0% { transform: translatey(-50px); opacity: 1 }
  10% { transform: translatey(-10px) }
  30% { transform: translatey(0px) }
  50% { transform: translatey(10px) }
  70% { transform: translatey(100px) }
  90% { transform: translatey(500px) }
  100% { transform: translatey(1000px) }
}

@keyframes rolling {
  0% { transform: translatex(-500px) rotate(180deg); opacity: 1 }
  10% { transform: translatex(-100px) rotate(-180deg)}
  30% { transform: translatex(0px) rotate(180deg)}
  50% { transform: translatex(10px) rotate(-180deg)}
  70% { transform: translatex(100px) rotate(180deg)}
  90% { transform: translatex(500px) rotate(-180deg)}
  100% { transform: translatex(1000px) rotate(180deg)}
}

@keyframes swing {
  0% { transform: translatex(-500px) ; opacity: 1 }
  30% { transform: translatex(0px) scaleX(-1) }
  50% { transform: translatex(10px) scaleX(-1)}
  70% { transform: translatex(100px) scaleX(1) }
  100% { transform: translatex(1000px) scaleX(-1) }
}

@keyframes circle {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

@keyframes inner-circle {
    from { transform:rotate(0deg); }
    to { transform:rotate(-360deg); }
}

@keyframes rotate {
  0% {transform: translatex(10px) rotate(-90deg);opacity:1}
  30% {transform: translatex(100px) rotate(90deg);opacity:1}
  50% {transform: translatex(150px) rotate(90deg);opacity:1}
  80% {transform: translatex(200px) rotate(90deg);opacity:1}
  100% {transform: translatex(300px) rotate(0);opacity:0}
}

@keyframes sail {
  0% {transform: translate(20px, 50px) rotate(0deg);opacity:1}
  30% {transform: rotate(20deg);left:10px;opacity:1}
  50% {transform: rotate(0deg);left:60px;opacity:1}
  80% {transform: rotate(-20deg);left:100px;opacity:1}
  100% {transform: rotate(0deg);left:500px;opacity:0}
}

@keyframes diagonal {
    0% { transform: translatex(-100px) translatey(-100px); opacity: 1}
    50% { transform: translatex(500px) translatey(-300px); opacity: 1}
    100% { transform: translatex(1000px) translatey(-500px); opacity: 0}
}
@keyframes marquee {
  0% { transform: translatex(10px); opacity: 1 }
  25% { transform: translatex(100px); opacity: 1 }
  50% { transform: translatex(500px); opacity: 1 }
  75% { transform: translatex(800px); opacity: 1 }
  100% { transform: translatex(1000px); opacity: 0 }
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(.7);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(.4);
  }
}

/* all media queries are here */
@media only screen and (max-device-width: 736px) {
  .logo-img {
    height: 250px;
    width: 250px;
  }

  .nav-links {
    font-size: 32px;
  }

  h2, h3 {
    font-size: 40px;
  }

  p {
    font-size: 30px;
  }

  .mapgrid {
    width: 100%;
    height: 40%;
  }

  .msgboard {
    height: 25%;
  }

}
