body {
  background-color: black;
  margin: 0;
  height: 100vh;
  font-family: fantasy;
  cursor: none;
  background-image: url('images/paint.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  border: 8px solid gray;
  border-radius: 50%;
  position: absolute;
  opacity: .5;
  top: -8px;
  left: -8px;
}

.expand {
  animation: cursorAnim3 .5s forwards;
  border: 1px solid red;
}

nav {
  display: flex;
  justify-content: space-between;
  min-height: 10vh;
  align-items: center;
  margin: auto;
  background-color: rgba(6, 7, 8, 0.5);
}

.nav-links {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.nav-links, h1 {
  flex: 1;
  color: white;
  padding: 25px;
}

.nav-links a {
  color: inherit;
  text-decoration: none;
}

img {
  width: -webkit-fill-available;
}

h2 {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.home-link a {
  text-decoration: none;
  color: white;
}

.logo-img {
  height: 50px;
  width: 50px;
}

p {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parentdiv {
  height: 100%;
  position: relative;
}

.mapgrid {
  width: 70%;
  height: 60%;
  margin: 10px auto;
}

.griditem {
  width: 33%;
  height: 33%;
  display: inline-table;
}

.griditem:active {
  transform: translateY(4px);
}

.msgboard {
  margin: 10px auto;
  height: 10%;
}

#fly {
  height: 50px;
  width: 50px;
  position: relative;
}

#chair {
  height: 200px;
  width: 200px;
  position: relative;
}

#ship {
  height: 200px;
  width: 200px;
  position: relative;
}

.plane-start {
  -webkit-animation-name: diagonal;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}

.chair-slider {
  top: 100px;
  animation: marquee 5s linear forwards;
}

.ship-slider {
  top: 100px;
  animation: sail 5s linear forwards;
  animation-delay: 4s;
  opacity: 0;
}

#msg {
  color: white;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

#momo {
  margin-top: 100px;
  height: 150px;
  width: 150px;
}

.momo-start {
  animation: rotate 6s linear forwards;
  animation-delay: 3s;
  opacity: 0;
}

#mexdiv {
  margin-top: 100px;
}

#marg {
  height: 100px;
  width: 100px;
}

.marg-start {
  animation: circle 6s linear infinite;
}

/*all keyframes are here*/
@keyframes circle {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

@keyframes inner-circle {
    from { transform:rotate(0deg); }
    to { transform:rotate(-360deg); }
}

@keyframes rotate {
  0% {transform: translatex(100px) rotate(-90deg);opacity:1}
  30% {transform: translatey(100px) rotate(0deg);opacity:1}
  50% {transform: translatex(100px) rotate(90deg);opacity:1}
  80% {transform: translatey(100px) rotate(0deg);opacity:1}
  100% {transform: translatex(100px) rotate(-90deg);opacity:0}
}

@keyframes sail {
  0% {transform: translatex(0) rotate(0deg);opacity:1}
  30% {transform: rotate(20deg);left:10px;opacity:1}
  50% {transform: rotate(0deg);left:60px;opacity:1}
  80% {transform: rotate(-20deg);left:100px;opacity:1}
  100% {transform: rotate(0deg);left:500px;opacity:0}
}

@keyframes diagonal {
    0%       { transform: translatex(-2000px) translatey(800px); opacity: 1}
    50%      { transform: translatex(800px) translatey(200px); opacity: 1}
    100%     { transform: translatex(1200px) translatey(0); opacity: 0}
}
@keyframes marquee {
  0% {
    transform: translate(-100px, 0);
    opacity: 1;
  }
  25% {
    transform: translate(50px, 0);
    opacity: 1;
  }
  50% {
    transform: translate(100px, 0);
    opacity: 1;
  }
  75% {
    transform: translate(300px, 0);
    opacity: 1;
  }
  100% {
    transform: translate(500px, 0);
    opacity: 0;
  }
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(.7);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(.4);
  }
}

/* all media queries are here */
@media only screen and (max-device-width: 736px) {
  .logo-img {
    height: 250px;
    width: 250px;
  }

  .nav-links {
    font-size: 32px;
  }

  h2, h3 {
    font-size: 40px;
  }

  p {
    font-size: 30px;
  }

  .mapgrid {
    width: 100%;
    height: 40%;
  }

}
