.App {
  background-color: #282c34;
  font-size: calc(5px + 2vmin);
  color: white;
  height: 100vh;
  background-image: url("images/wood.png");
  background-size: cover;
}

.App .jumbotron {
  background-color: black;
  opacity: 0.75;
}

.nav-item {
  margin-right: 50px;
}

#navbar {
  margin-top: -100px;
  float: right;
}

#banner {
  margin-top: 20px;
}

.demo-container {
  padding: 50px;
}

.demo-item {
  width: 300px;
  padding: 10px;
  text-align: center;
  display: inline-block;
}

.card-header {
  background-color: black !important;
  color: teal;
}

.card-body {
  background-color: rgb(0,0,0,.3) !important;
  color: black;
}

.list-group-item.active {
  background-color: teal !important;
  border-color: teal !important;
}

i {
 font-size: 18px;
 color: white;
}

#profile-accordion .col {
  text-align: center;
}

#sfly {
  background-image: url("./images/shutterfly.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -30px;
}

.location {
  float: left;
  margin-top: 64px;
}

#usair {
  background-image: url("./images/american.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -30px;
}

#mphs {
  background-image: url("./images/mphs.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px 0 0 6px;
  background-size: 200px;
}

#ics {
  background-image: url("./images/ics.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px 0 0 6px;
  background-size: 80px;
}

.badge {
  margin: 5px;
}
